{% extends "AppFinanzas/base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
<h1 class="mt-4">Tus clientes</h1>
<p>Listado de clientes:</p>
<div class="mb-3">
    <form method="GET" class="d-inline-block">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <a href="{% url 'AgregarCliente' %}" class="btn btn-success ml-2">Agregar Cliente</a>
</div>
<ul>
    {% for cliente in clientes %}
        <li class="mb-2">
            Razón Social: {{ cliente.razon_social }} | Email: {{ cliente.email }} | Teléfono: {{ cliente.telefono }}
            <a href="{% url 'EditarCliente' cliente.id %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'EliminarCliente' cliente.id %}" class="btn btn-danger btn-sm">Eliminar</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
